<% provide(:title, 'Edit Profile') %>
<div class="row"> 
  <div class="span12 home">
      <div class="container">
      
        <%= form_for(@user, :html => {:class => 'userforms'}) do |f| %>
          <h1>Edit Profile</h1>
          <%= bootstrap_flash %>
          
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
          
          <%= f.label :profile_bio %>
          <%= f.text_field :profile_bio, class: 'form-control' %>
          
          <%= f.file_field :avatar %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
      
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
      
          <%= f.submit "Save Changes", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div><!--/row-->

