<% provide(:title, 'Sign up') %>
  <div class="row"> 
    <div class="span12 home">
      <div id="fullscreen_bg" class="fullscreen_bg"/>
			  <div class="container">

          <%= form_for @user, :url => users_path, :html => { :multipart => true, :class => 'userforms' } do |f| %>
            <h1>Sign up</h1>
            <%= bootstrap_flash %>
                    
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
              
            <%= f.label :name %> (Optional)
            <%= f.text_field :name, class: 'form-control' %>
            
            <%= f.file_field :avatar %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
              
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
              
            <%= f.submit "Sign Up", id: "submit", class: "btn btn-primary" %>
            
          <% end %>

				</div>


      </div><!--/row-->



  

