<% provide(:title, @user.name) %>
      <div class="span12">
        <% bootstrap_flash %>  
            
          <div class="row">
            <aside class="col-md-4">
              <section class="user_info">
                <h1>
                  <%= image_tag @user.avatar.url(:thumb) %>
                  
                  <%= if @user.name 
                        @user.name
                      else
                        @user.email 
                      end
                  %>
                </h1>
                
                <p>
                  <strong>Email:</strong>
                  <%= @user.email %>
                </p>
                
                <p>
                  <strong>Name:</strong>
                  <%= @user.name %>
                </p>
                
                <p>
                  <strong>Profile img:</strong>
                  <%= @user.profile_img %>
                </p>
                
                <p>
                  <strong>Profile bio:</strong>
                  <%= @user.profile_bio %>
                </p>
              </section>
            </aside>
            
              <div class="col-md-8">
                <% if @user.posts.any? %>
                  <h3>Posts (<%= @user.posts.count %>)</h3>
                  <ol class="posts">
                    <%= render @posts %>
                  </ol>
                  <%= will_paginate @posts %>
                <% end %>
              </div>

          </div>
            

            

  
  
        </div><!--/row-->

