<% provide(:title, @user.name) %>
      <div class="span12">
        <% bootstrap_flash %>  
            
          <div class="row">
            <aside class="col-md-4">
              <section class="user_info">
                <h1>
                  <%= image_tag @user.avatar.url(:thumb) %>
                  
                  <%= if @user.name 
                        @user.name
                      else
                        @user.email 
                      end
                  %>
                </h1>
                <h3>Profile Page</h3>
                
                <p>
                  <strong>Email:</strong>
                  <%= @user.email %>
                </p>
                
                <p>
                  <strong>Name:</strong>
                  <%= @user.name %>
                </p>
                
                
                <p>
                  <strong>Bio:</strong>
                </p>
                <p>
                  <%= simple_format h @user.profile_bio %>
                </p>
                  
                
              </section>
            </aside>
            
              <div class="col-md-8">
                <h3>Posts (<%= @user.posts.count %>)</h3>
                <span>
                  <%= 
                    if @user == current_user
                      link_to "Upload Photo", new_post_path 
                    end
                  %> </span>
                
                <% if @user.posts.any? %>
                  <ol class="posts">
                    <%= render @posts %>
                  </ol>
                  <%= will_paginate @posts %>
                <% end %>
              </div>

          </div>
            

            

  
  
        </div><!--/row-->

