

<% provide(:title, @post.title + " - Editing") %>
      <div class="span12">
        <% bootstrap_flash %>  
            
          <div class="row">
            <h1><%= @post.title %></h1>
            <h2>Edit Brightness</h2>
            <div class="col-md-8">
              <section class="photo_info">
                
                  <%= image_tag @post.photo.url, :id => "img" %>

                <p>
                  <%= @post.caption %>
                </p>


              </section>
            </div>
            <div class="col-md-4">
              <%= form_for @post, url: brightness_path(@post), method: :patch do |f| %>

                <%= bootstrap_flash %>
                
                <label>Brightness</label>

                <div id="Filters">
                  
                  <div class="Filter">

                    <div class="FilterSetting">
                      <input 
                        id="bslider" 
                        data-filter="brightness"
                        name="brightness" 
                        type="range"
                        min="-100" 
                        max="100" 
                        step="1" 
                        value="0" 
                        max-width="100"/>
                      <span class="FilterValue">0</span>
                    </div>
                  </div>
                </div>
                


                <br> <br>
                  <%= f.submit "Submit post", class: "btn btn-primary" %>
              <% end %>

                <p><%= link_to "Back", @post.user %></p>
            </div>
          </div>  
        </div><!--/row-->
