<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/camanjs/4.0.0/caman.full.min.js"></script>

<% provide(:title, @post.title + " - Editing") %>
      <div class="span12">
        <% bootstrap_flash %>  
            
          <div class="row">
            <h1><%= @post.title %></h1>
            <div class="col-md-8">
              <section class="photo_info">
                
                  <%= image_tag @post.photo.url, :id => "img" %>

                <p>
                  <%= @post.caption %>
                </p>


              </section>
            </div>
            <div class="col-md-4">
                <%= form_for @post, url: brightness_path(@post), method: :patch do |f| %>

                  <%= bootstrap_flash %>
                
                  <label>Brightness</label>
                <input id="bslider" name="brightness" data-filter='brightness' data-slider-id='ex1Slider' type="text" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="0" max-width="100"/>

                <script type="text/javascript">

                  var newImage = new Image();
                  newImage.src = <%= @post.photo.url %> + new Date();
                  function updateImage(callback)
                  {
                    document.getElementById("img").src = newImage.src;
                    if(newImage.complete) {
                      callback();
                    }
                  }
                </script>
                <script type="text/javascript">
                  window.brightness = 0;



                  $('#bslider').slider().on('slide', function(ev) { 
                      $('#bar').val(ev.value);

                      Caman('#img', function () {
                          //this.brightness(ev.value);
                          //this.resetOriginalPixelData();
                          this.brightness(ev.value - window.brightness).render();
                          window.brightness = ev.value;
                          //this.render();
                        });
                    });

                </script>

                <br> <br>
                  <%= f.submit "Submit post", class: "btn btn-primary" %>
                <% end %>

                <p><%= link_to "Back", @post.user %></p>
            </div>
          </div>  
        </div><!--/row-->
