<% provide(:title, @post.title) %>
      <div class="span12">
        <% bootstrap_flash %>  
            
          <div class="row">
            <h1><%= @post.title %></h1>
            <aside class="col-md-8">
              <section class="photo_info">
                  <%= image_tag @post.photo.url %>
                
                <p>
                  <%= @post.caption %>
                </p>


              </section>
            </aside>
            <div class="col-md-4">
              <h2>Posted By:</h2>
              <!--user info -->
              <%= image_tag @post.user.avatar.url(:thumb) %>    
              <%= if @post.user.name 
                    @post.user.name
                  else
                    @post.user.email 
                  end
              %>
            </div>
          </div>  
        </div><!--/row-->
